@page
@model GestionReservations.Pages.GestionVoitures.ConsulterVoitureModel
@{
}

<ul>
    <li>ID de la voiture: @Model.Voiture.Id</li>
    <li>Description de la voiture: @Model.Voiture.Description</li>
    <li>Prix de la voiture : @Model.Voiture.PrixJournalier</li>
    <li>Marque de la voiture: @Model.Voiture.Marque</li>
    <li>Année de fabrication de la voiture : @Model.Voiture.AnneeFabrication</li>
</ul>