@page
@model GestionReservations.Pages.GestionChambres.IndexModel
@{
    ViewData["Title"] = "Gestion des Chambres";
}
<h1>Liste des chambres</h1>

<table class="table">
    <thead>
        <tr>
            <th>Identifiant</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Nom de l'hôtel</th>
        </tr>
    </thead>
    @foreach (var chambre in Model.Chambres)
    {
        <tr>
            <td>@chambre.Id</td>
            <td>@chambre.Description</td>
            <td>@chambre.PrixJournalier</td>
            <td>@chambre.NomHotel</td>
            <td> <a asp-page="./ModifierChambre" asp-route-Id="@chambre.Id">Modifier</a></td>
            <td><a asp-page="./ConsulterChambre" asp-route-Id="@chambre.Id">Consulter</a></td>
            <td><a asp-page="./SupprimerChambre" asp-route-Id="@chambre.Id">Supprimer</a></td>                     
        </tr>
    }
</table>
<a class="btn btn-secondary" asp-page="./AjouterChambre">Ajouter une chambre</a>